div {
    font-size: 3rem;
}

a{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 10px 20px;
    font-size: 0.75rem;

}

.activado{
    color: gold;
    background: crimson;
}