.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}

.card {
    padding: 2em;
    background-color: darkgoldenrod;
}
.card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
