nav {
  background: silver;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 7px 10px 12px;
}

.activo {
  background: #000;
  color: #fff;
}

div {
  text-align: center;
}

.reyes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;

  .rey {
    width: 30%;
    margin-bottom: 1.5rem;
    gap: 2rem;
    border: 1px solid black;
    border-radius: 8px;

    img {
      width: 90%;
      height: auto;
      border-radius: 8px 8px 0 0;
      padding-top: 15px;
    }
    h1 {
      padding: 8px;
      font-size: 1.5rem;
    }
  }
}
