* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reyes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;

    /* h1 {
        display: block;
        padding: 15px;
    } */
}

.caja-rey {
    width: 250px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #2b2828;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

    img {
        width: 200px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 15px;
        padding: 10px;
    }

    .verde {
        /* font-size: 1.5em; */
        font-weight: bold;
        color: #00ff00;
        margin-bottom: 5px;
    }

    .rojo {
        font-size: 1.2em;
        color: #ff0000;
        margin-bottom: 5px;
    }
}

/* .caja-rey img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
} */
