.container {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    /* max-width: 1280px; */
}

.total-pagar {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 50px;
}

h2 {
    /* padding: 15px 5px 5px 65px; */
    margin-left: 10px;
    font-size: 1.5rem;
}
