.cards {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    justify-items: center;
    text-align: center;
}

.cards h1 {
    grid-column: 1 / -1;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #222;
    height: auto;
}

.card {
    width: 90%;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.card h2 {
    margin: 5px;
    font-size: 1.8rem;
}

.card img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}

.comprar {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.comprar:hover {
    background-color: black;
    color: white;
    outline: none;
    border: none;
}

.comprar:active {
    background: #000;
    color: white;
    transform: scale(0.97);
}
