.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #242424;
}

.card {
    padding: 2em;
    margin: 20px;
    background-color: darkgoldenrod;
    border-radius: 10px;

    & h2 {
        color: #000;
    }
}
.card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
