* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    width: 100vw;
}
#root {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    width: 100vw;
}
.App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
img {
    width: 100%;
    vertical-align: top;
}
.idiomas {
    display: flex;
    justify-content: center;
}
.bandera {
    width: 75px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.botones {
    text-align: center;
}
.botones button {
    width: 150px;
    margin: 10px;
    padding: 5px 10px;
    font-size: 1.05rem;
    cursor: pointer;
    border: 1px dotted #000;
    border-radius: 5px;
    background-color: teal;
    color: white;
    transition: background-color 0.3s;
}

.profesora,
.ubicacion {
    width: 320px;
    text-align: center;
    border-radius: 8px;
    background: teal;
    padding-bottom: 15px;
    color: white;
    margin: 15px auto;
}
